.logo-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  cursor: pointer;
}

.slika {
  width: 550px;
}

.navbar {
  font-family: monospace !important;
  background-color: rgba(232, 194, 18, 0.95) !important;
  border: 1px solid #004275 !important;
  box-shadow: 5px 5px 5px -3px rgba(0, 64, 124, 0.95) !important;
  -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 64, 124, 0.95) !important;
  -moz-box-shadow: 5px 5px 5px -3px rgba(0, 64, 124, 0.95) !important;
  z-index: 1000 !important;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000 !important;
  background-color: rgba(7, 67, 135, 0.99) !important;
  transition: background-color 0.3s ease;
  box-shadow: 5px 5px 5px -3px rgba(232, 194, 18, 0.95) !important;
  -webkit-box-shadow: 5px 5px 5px -3px rgba(232, 194, 18, 0.95) !important;
  -moz-box-shadow: 5px 5px 5px -3px rgba(232, 194, 18, 0.95) !important;
}

.vijest-card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  z-index: 1 !important;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 5px -3px rgba(0, 17, 110, 0.75) !important;
  -webkit-box-shadow: 0px 0px 5px -3px rgba(0, 17, 110, 0.75) !important;
  -moz-box-shadow: 0px 0px 5px -3px rgba(0, 17, 110, 0.75) !important;
  margin-right: 10px;
}

.vijest-card:hover {
  transform: scale(1) scale(1.03);
  box-shadow: 7px 10px 7px -2px rgba(0, 17, 110, 0.95) !important;
}

.create-vijest {
  background-color: #286 !important;
}

body{
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  user-select: none;
  align-items: center;
}

/* #tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
} */